/*重置*/
body,h1,h2,h3,h4,h5,dl,dd,dt,p,ul,li,ol{ margin:0; padding:0;}
input,select,form,textarea,button{ border:none; margin:0;outline:none; padding:0;-webkit-appearance: none;}
h1,h2,h3,h4,h5{ font-weight:normal;}
img{ border:none;}
a{ text-decoration:none;
text-decoration:none; outline:none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    color:#000;
}
img{vertical-align: top width: 100%;height: 100%;};
*{ font: normal 0.24rem/100% Helvetica, Arial, sans-serif;}
li{ list-style-type:none;}
i{font-style: normal;}

/* 通用区 */
.top-space{
    width: 100%;
    height: 1.76rem;
}
.swipslider{
    width: 100%;
    height: 100%;
    box-sizing:border-box;
    margin-left: -0%;
}
.jiange{
    background-color:#e7ecef;
    width: 100%;
    height:5px;
}
.biaoti{
    padding:0.4rem;
}
.warp{
    width: 15.0rem;
}

/* header 部分 */
.header{
    width: 100%;
    height: 1.76rem;
    background-color: rgba(0,0,0,0.8);
    line-height: 1.76rem;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 99;

}
.header .logo{
    width: 4.86rem;
    height:1.2rem;
    margin-top: 0.2rem;
    float: left;
}
.header .addr{
    float: left;
    display: inline-block;
    color: #f57a12;
    margin-left: 1.5rem;
    font-size: 0.48rem;
}
.header .addr .addr-icon{
    display: inline-block;
    vertical-align:middle;
    width:0.33rem;
    height:0.49rem;
    background: url(img/dibiao.png) left center no-repeat;
    background-size: 100% 100%;
}
.header .glass-icon{
    display: inline-block;
    width: 0.64rem;
    height:0.64rem;
    background: url(img/sos.png) left center no-repeat;
    background-size: 100% 100%;
    float: right;
    margin:0.5rem 0.5rem 0 0;
}

/* banner 区 */
.banner{
    margin-top: -1rem;
    width: 100%;
    height:9.4rem;
}
.banner img{
    width: 100%;
    height: 100%;
}

/* menu 区 */
.menu{
    width: 100%;
    height:3.28rem;
    padding-top: 0.92rem;
}
.menu-item{
    float: left;
    width: 25%;
    text-align: center;

}
.menu-item img{
    width: 1.4rem;
    height:1.4rem;
}
.menu-item p{
    font-size:0.45rem;
    line-height:1.45rem;
}

/* main 区 */

.main{
    width: 100%;
}
.main .biaoti span{
    font-size: 0.52rem;
    border-left: 3px solid #f57a12;
    padding-left: 0.2rem;
}
.main .biaoti i{
    font-size: 0.5rem;
    color:#969696;
    padding-left: 5px;
}

.main .biaoti a{
    color:#f57a12;
    font-size: 0.5rem;
    float: right;
    margin:0.4rem 0.2rem 0 0;
}
/* cont区 */
.brand .cont{
    height:4.3rem;
    background-color:#0e4162;
    padding:0.4rem;
}
.brand .cont .left{
    width: 6.3rem;
    float: left;
    border: 1px solid #fff;
}
.brand .cont .left img{
    width: 100%;
    height: 100%;
}
.brand .cont .right{
    width: 6.3rem;
    float: right;
    color:#fff;
    line-height: 0.9rem;
    font-size: 0.48rem;
    padding-right: 0.2rem;
}
.brand .cont .right p{
    width: 3.2rem;
    height:1.0rem;
    background-color:#f57a12;
    border-radius: 2px;
    text-align: center;
    float: right;
    margin-top: 0.5rem;
    font-size: 0.5rem;
    color:#fff;
}

/* item 区 */
.main .item .title{
    width: 100%;
    height:1.2rem;
    line-height: 1.2rem;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid #eee;
}
.main .item{

}

.title span{
    display: inline-block;
    width: 20%;
    text-align: center;
    font-size: 0.5rem;
}
.title span:first-child{
    color:#f57a12;
}
.item img{
    width: 100%;
    height: 100%;
}
.img-big{
    margin:0.4rem 0;
    width: 100%;
    height:8.26rem;
    position: relative;
}
.img-big p{
    text-align: center;
    font-size: 0.5rem;
    color:#fff;
    width: 100%;
    height:1.3rem;
    line-height: 1.3rem;
    background-color:rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    left: 0;
}

.img-small{
    display: inline-block;
    margin-left: 0.95rem;
    width: 6.0rem;
    height:4.0rem;
    margin-top: 0.3rem;
}
.img-small p{
    text-align: center;
    font-size: 0.5rem;
    height:1.0rem;
    line-height: 1.0rem;
}

.item .btn{
    margin:0.3rem auto;
    width: 4.64rem;
    height:1.24rem;
    border-radius:3px;
    color:#f57a12;
    border: 1px solid #f57a12;
    text-align: center;
    font-size: 0.5rem;
    line-height: 1.24rem;
}

/* team 区 */
.team{
    background-color:#0e4162;
    margin-top: 0.6rem;
}
.team .biaoti span{
    color:#fff;
}
.gallary .item{
    width:3.86rem;
    display: inline-block;
    margin:0.6rem 0 0.6rem 0.6rem;
}
.gallary .item .item-pic{
    width:3.86rem;
    height:4.4rem;
    position: relative;

}
.gallary .item .item-pic p{
    text-align: center;
    font-size: 0.5rem;
    color:#f57a12;
    height:1.0rem;
    width: 100%;
    line-height: 1.0rem;
    position: absolute;
    bottom: 0;
    background-color:rgba(0,0,0,0.7);
}
.gallary .item span{
    color:#fff;
    font-size: 0.55rem;
    width: 100%;
    text-align: center;
    display: inline-block;
    height:1.0rem;
    line-height: 1.0rem;
}

/* video 区 */
.video{
    padding-bottom: 0.6rem;
}
.video-item{
    width:5.86rem;
    height:4.0rem;
    position: relative;
    display: inline-block;
    margin-left: 1.11rem;
}
.video-item img{
    width: 100%;
    height: 100%;
}
.video-item a{
    width: 2.92rem;
    height:1.0rem;
    line-height: 1.0rem;
    background-color:#f57a12;
    border-radius: 2px;
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.28rem;
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -1.46rem;
    margin-top: -0.5rem;
    color:#fff;
}
.video-item span{
    width: 100%;
    font-size: 0.5rem;
    text-align: center;
    line-height: 1rem;
    display: inline-block;
}

/* info 区 */
.info-item{
    width: 100%;
    height:3.3rem;
    padding:0.4rem 0.5rem;
    font-size: 0.5rem;
    border-bottom:1px solid #eee;
    box-sizing: border-box;
}
.info-item .left{
    display: inline-block;
    width: 10.0rem;
    height:100%;
    float: left;
}
.info-item .left p{
    color:#969696;
    margin-top: 0.2rem;
}
.info-item .right{
    float: right;
    display: inline-block;
    width: 3.6rem;
    height:2.4rem;
}

.info-more{
    width: 100%;
    height:1.68rem;
    line-height: 1.68rem;

    color:#f57a12;
    font-size: 0.5rem;
    text-align: center;
    background-color:#0e4162;
}

/* footer 区 */

.footer{
    border-top:3px solid #f57a12;
    font-size: 0.5rem;
    color:#6f7071;
    background-color:#000;
    text-align: center;
    margin-bottom: 1.9rem;
}
.footer .top{
    line-height: 1.4rem;
    font-size: 0.5rem;
}
.footer a{
    color:#6f7071;
    height:1.4rem;
}
.footer .bottom img{
    margin-top: 0.4rem;
    width: 2.28rem;
    margin-bottom: 0.4rem;
}


/* bottomBar */
.bottomBar{
    width:100%;
    height:2.0rem;
    border-top: solid rgba(247,122,18,0.15) 2px;
    background-color:#000;
    box-sizing:border-box;
    position: fixed;
    bottom: 0;

}
.bottomBar li{
    float: left;
    width: 25%;
    text-align: center;
}
.bottomBar li a p{
    font-size: 0.5rem;
    color:#6f7071;
}
.bottomBar li a img{
    width: 1.04rem;
    height:0.76rem;
}

/* —————————————企业介绍——————————— */

.top-black{
    background-color:#000;
}
.header .fanh{
    width: 0.36rem;
    height:0.56rem;
    float: left;
    margin:0.6rem 0 0 0.6rem;
}
.header .title{
    margin-left: 5.6rem;
}

.brand-menu{
    width: 100%;
    height:4.24rem;
    background: url(img/xiaoyan.jpg) no-repeat left center;
    background-size: 100% 100%;
    position: relative;

}

.brand-menu-ul{
    position: absolute;
    top: 1.4rem;
    width: 100%;
    height:1.4rem;
    padding-bottom: 0.3rem;
    border-bottom:1px solid #777;

}

.brand-menu-ul li{
    height:1.4rem;
    line-height: 1.4rem;
    float: left;
    font-size: 0.5rem;
    color:#fff;
    width: 25%;
    text-align: center;
}
.brand-menu-ul li:first-child{
    color:#f57a12;
    border-bottom:1px solid #f57a12;
}

.brand-main{
    width: 100%;
}
.brand-main img{
    width: 90%;
    display: block;
    margin:0.2rem auto;
}
.brand-main p{
    line-height: 0.9rem;
    font-size: 0.65rem;
    text-indent: 2em;
    display: inline-block;
    margin: 0.4rem auto;
    padding:0 0.4rem;
}


/* ——————————————装修风格———————————— */

.style-banner{
    width: 15rem;
    height:4.26rem;

}

.style-menu{
    padding-top: 0.5rem;
    width: 100%;
    height:0.8rem;
    overflow: hidden;

}
.style-menu .item{
    text-align: center;
    float: left;
    width: 33%;
    height: 0.7rem;
    box-sizing:border-box;
    border-right: 1px solid #ccc;
    overflow: hidden;
}
.style-menu .item:last-child{
    border-right: none;
    padding-left: 0.5rem;
}
.style-menu .item select{
    display: block;
    margin:0 auto;
    text-align: center;
    font-size: 0.5rem;
}
.style-main{
    background-color:#0e4162;
    margin-top: 0.6rem;

    padding-bottom: 1rem;

}

.style-gallary .item{
    width:6.2rem;
    display: inline-block;
    margin:0.7rem 0 0.7rem 0.7rem;
}
.style-gallary .item .item-pic{
    width:6.2rem;
    height:4.4rem;
    position: relative;

}
.style-gallary .item .item-pic p{
    text-align: center;
    font-size: 0.5rem;
    color:#fff;
    height:1.0rem;
    width: 100%;
    line-height: 1.0rem;
    position: absolute;
    bottom: 0;
    background-color:rgba(0,0,0,0.7);
}
.style-gallary .item span{
    position: absolute;
    top: 100%;
    color:#000;
    background-color: #fff;
    font-size: 0.55rem;
    width: 100%;
    text-align: center;
    display: inline-block;
    height:1.0rem;
    line-height: 1.0rem;
}
.style-more{
    width: 100%;
    height:1.3rem;
    background-colo:#fff;
    text-align: center;
    line-height: 1.3rem;
    font-size: 0.6rem;
}

/* ———————————设计团队————————————— */
.team-main{
    background-color:#0e4162;
    width: 100%;
    padding:0.7rem;
    box-sizing:border-box;
}

.team-main .item{
    margin-top: 0.2rem;
    width: 12.5rem;
    height:3.25rem;
    background-color:#fff;
    border-radius:0.1rem;
    padding:0.6rem;
}
.item .left{
    float: left;
    width: 3.0rem;
    height:3.25rem;

}
.item .right{
    float: right;
    width: 8rem;
    height:3.25px;
    font-size: 0.5rem;
    color:#444;
}
.item .right p span:nth-child(1){
    font-size: 0.7rem;
    color:#000;
}
.item .right p span:nth-child(2){
    font-size: 0.5rem;
    color:#000;
}

.item .right p span:nth-child(3){
    font-size: 0.6rem;
    color:#f57a12;
    float: right;

}
.item .right .order,.item .right .more{
    width: 3.2rem;
    height:0.9rem;
    line-height: 0.9rem;
    font-size:0.6rem;
    margin-left: 0.5rem;
    display: inline-block;
    text-align: center;
    border-radius:0.2rem;
    margin-top: 0.3rem;
    color:#fff;
}
.item .right .order{
    background-color:#6e6e6e;

}
.item .right .more{
    background-color:#f57a12;
}

/* —————————视频展区————————— */

.video-menu{
    background: url(img/video-banner.png) no-repeat left center;
    background-size: 100% 100%;
}

.video-main{
    background-color:#0e4162;
    width: 100%;
    box-sizing:border-box;
    padding:0.4rem 0;
}

.video-main .item{
    background-color:#fff;
    position: relative;
    width: 5.86rem;
    height:5.5rem;
    display: inline-block;
    margin:0.4rem 0 0.4rem 0.9rem;
}
.video-main .item img{
    width: 5.46rem;
    height:3.72rem;
    margin:0.2rem;
}
.video-main .item span{
    display: inline-block;
    border-radius:0.2rem;
    width: 2.64rem;
    height:1.08rem;
    background-color:#f57a12;
    line-height: 1.08rem;
    text-align: center;
    color:#fff;
    font-size: 0.5rem;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -0.89rem;
    margin-left: -1.32rem;
}
.video-main .item p{
    font-size: 0.5rem;
    text-align: center;

}

/* 视频详情 */
.video-title{
    text-align: center;
    padding:0.6rem 0;
    border-bottom:1px solid #ccc;
}
.video-title p:nth-child(1){
    font-size: 0.6rem;
}
.video-title p:nth-child(2){
    font-size: 0.5rem;
    color:gray;
}
video{
    display: block;

    width: 80%;
    margin:0.6rem auto;
}

.main .biaoti span{
    font-size: 0.52rem;
    border-left: 3px solid #f57a12;
    padding-left: 0.2rem;
}
.main .biaoti i{
    font-size: 0.5rem;
    color:#969696;
    padding-left: 5px;
}

.main .biaoti a{
    color:#f57a12;
    font-size: 0.5rem;
    float: right;
    margin:0.4rem 0.2rem 0 0;
}
.main p.video-text{
    padding:0 0.4rem;
    font-size: 0.55rem;
    line-height: 1rem;
    text-indent:2em;
}

/* ———————————装修报价——————————— */

.price-form{
    width: 13.0rem;
    margin:0.6rem auto;
}
.price-form select,.price-form input{
    width: 100%;
    height:1.8rem;
    line-height: 1.8rem;
    font-size: 0.6rem;
    border-bottom:1px solid #ccc;
    margin-top: 1px;
}
.price-form .btn,.price-form .btn-2{
    margin-top: 0.6rem;
    background-color:#f57a12;
    color:#fff;
    font-family: '微软雅黑';
    cursor: pointer;
}
.price-form .btn-2{
    background-color:#989898;
}

/* ———————————————留言建议————————————— */
.message-title{
    padding:0.5rem 0;
}
.message-title p{
    font-size: 0.6rem;
    text-align: center;
    line-height: 1rem;
}
.message-title p:first-child{
    color:#f57a12;
    font-size: 0.7rem;
}
.message-title p:last-child{
    color:gray;
    font-size: 0.6rem;
}
.message-form{
    width: 100%;
    height:10.6rem;
    background: url(img/fuwu_z.jpg) center center no-repeat;
    background-size:cover;
    text-align: center;
    padding:0.4rem 0;
}

.message-form input,.message-form textarea,.message-form .btn{
    color:#fff;
    width: 12.0rem;
    height:1.3rem;
    padding-left: 0.4rem;
    font-size: 0.6rem;
    background-color:transparent;
    border-radius:0.1rem;
    margin:0.2rem 0;
    border:1px solid gray;
}
.message-form textarea{
    height:2.6rem;
    padding-top: 0.3rem;
}
.message-form .btn{
    background-color:#f57a12;
    width: 12.5rem;
    border:none;
}
.message-form p{
    margin-top: 0.6rem;
    color:#fff;
    height:1.3rem;

    font-size: 0.5rem;
}
.message-form p b{
    color:#f57a12;
    font-size: 0.7rem;
}